# RTD is currently installing 1.5.3, which has a bug in :lineno-match:
sphinx >= 1.6.1
sphinx_rtd_theme
sphinxcontrib-trio
# Workaround for this weird issue:
# https://travis-ci.org/python-trio/pytest-trio/jobs/407495415
attrs >= 17.4.0
# != 19.9.0 for https://github.com/twisted/towncrier/issues/180
# != 21.3.0 for https://github.com/twisted/towncrier/issues/346
towncrier != 19.9.0,!= 21.3.0

# pytest-trio's own dependencies
trio >= 0.15.0
async_generator >= 1.9
outcome
# For node.get_closest_marker
pytest >= 3.6
