sphinx >= 1.6.1
sphinx_rtd_theme
sphinxcontrib-trio
# Workaround for this weird issue:
# https://travis-ci.org/python-trio/pytest-trio/jobs/407495415
attrs >= 17.4.0
# != 19.9.0 for https://github.com/twisted/towncrier/issues/180
# != 21.3.0 for https://github.com/twisted/towncrier/issues/346
towncrier != 19.9.0,!= 21.3.0

# pytest-trio's own dependencies
trio >= 0.22.0
outcome >= 1.1.0
pytest >= 7.2.0
